#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Exec="conky -b -c /home/anlijiu/.config/conky/simple_calendar/simple_calendar.conf"
Icon=conky
X-GNOME-Autostart-enabled=true
X-MATE-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=start-conky-cal
Comment[en_US]=
X-GNOME-Autostart-Delay=0
